* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: Lato, sans-serif;
}

body {
  background-color: rgb(226, 3, 100);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 10vh;
  background-color: rgb(226, 3, 100);
}

.search {
  margin-top: 20%;
}

.extreme-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

input {
  width: 8rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid grey;
}

button {
  background: transparent;
  border: none;
  margin-left: 5px;
}

.headline {
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 5, 121);
}

.title {
  width: 50vw;
  padding: 10%;
}

.african-map {
  width: 50%;
}

.country-section-title {
  background-color: rgb(226, 3, 100);
  padding: 1rem 2rem;
}

.nav-left {
  display: flex;
}

.year {
  margin-left: 3px;
}

.country-list,
.details {
  background-color: #5685e2;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.flag {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.arrow {
  z-index: 2;
  position: absolute;
  right: 1rem;
  border: 2px solid white;
  border-radius: 50%;
}

.arrow:hover {
  font-size: 20px;
}

.light-cards,
.dark-cards {
  background-color: #5685e2;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 30vh;
  align-items: center;
  position: relative;
  padding: 1rem 2rem;
}

.dark-cards {
  background-color: #3b70da;
}

.country-name {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
}

.country-name > h2,
.country-name > p {
  font-size: 18px;
  position: absolute;
  bottom: 2rem;
  right: 0.5rem;
}

.country-name > p {
  bottom: 0.5rem;
  font-size: 15px;
}

a {
  text-decoration: none;
}

.details-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.details-list {
  margin-top: 2rem;
}

.details-list > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.details-name {
  text-align: center;
}
