* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background-color: #7a9ad9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 10vh;
  background-color: #5685e2;
}

.search {
  margin-top: 20%;
}

.extreme-right {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

input {
  width: 8rem;
  background: transparent;
  border: none;
  border-bottom: 2px solid grey;
}

button {
  background: transparent;
  border: none;
  margin-left: 5px;
}

.headline {
  display: flex;
  justify-content: space-between;
  background-color: #7a9ad9;
}

.title {
  width: 50vw;
  padding: 5%;
}

.african-map {
  width: 50%;
}

.country-section-title {
  background-color: #3b70da;
  padding: 1rem 2rem;
}

.country-list,
.details {
  background-color: #5685e2;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 320px 320px;
}

.flag {
  width: 50px;
}

.light-cards,
.dark-cards {
  background-color: #5685e2;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  padding: 1rem 2rem;
}

.dark-cards {
  background-color: #3b70da;
}

.country-name {
  width: 60%;
}

a {
  text-decoration: none;
}

.details-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.details-list {
  margin-top: 2rem;
}

.details-list > div {
  display: flex;
  justify-content: space-between;
}

.details-name {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .country-name {
    color: red;
  }
}
